/* All Pages */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

/* clear float element */
.clear-float {
    clear: both;
}

.swirls {
    position: absolute;
    background: url(../images/Background_Swirls.png);
    background-repeat: repeat;
    /* width: 960px; */
    width: 100%;
    height: 100%;
    overflow: auto;
    border-top: solid medium #cccccc;
}

.full-width {
    padding: 0;
}

/* wraps all header elements */
.header-wrapper {
    width: 100%;
    position: relative;
    background: #ffffff;
}

/* header banner */
.header-banner {
    position: relative;
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

/* Name block within the header */
.name {
    position: absolute;
    /* bottom: 0; */
    padding: 30px;
    background: #4aaaa5;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
    width: auto;
}

/* main content block */
.content {
    position: relative;
    margin: 0 auto;
    margin-top: 35px;
    padding: 30px;
    background: #ffffff;
    width: 900px;
    /* height: fit-content; */
    min-height: 500px;
    text-align: left;
    border: #dddddd;
    border-style: solid;
    box-shadow: 1.5px 3px;
}

/*generic heading formats*/
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* horizontal line element */
.hr {
    width: 100%;
    float: left;
}

/* footer element */
.footer {
    position: fixed;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    height: 45px;
    bottom: 0;
    text-align: center;

}

#footer-text {
    position: absolute;
    left: auto;
    bottom: 0;
    vertical-align: middle;
    display: inline-block;
    color: #ffffff;
    font-size: small;
}

.folio-photo {
    position: relative;
    float: left;
    margin: 20px;
}

/* banner across portfolio photos */
.folio-banner {
    position: absolute;
    background: #4aaaa5;
    text-align: center;
    bottom: 10px;
    width: 200px;
    padding: 5px;
}

/* formats the folio links */
.folio-link {
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
}

.spacer {
    height: 30px;
}

.nav-item-border {
    border-right: #777777;
}